/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');


/* VARIABLES */
:root{
    --primary:#0d6efd;
    --secondary:#6610f2;
    --dark:#111827;
    --light:#f8f9fa;
    --white:#7689f8;
    --gray:#6b7280;

    --radius:12px;
    --spacing:20px;
}
/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Poppins', sans-serif;
    background:var(--light);
    color:var(--dark);
}
h1,h2,h3,h4{
    font-family:'Montserrat', sans-serif;
}
/* HERO */
.hero{
    padding:100px 0;
}

.hero-text h1{
    font-size:60px;
    font-weight:700;
    margin-bottom:20px;
}

.hero-text h2{
    font-size:22px;
    color:gray;
    margin-bottom:25px;
}

.hero-img{
    width:100%;
    border-radius:20px;
}

.stats{
    display:flex;
    gap:30px;
    margin-top:20px;
    font-weight:bold;
}


/* COMMENT CA MARCHE */
.bento-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.box{
    background:rgba(200, 192, 245, 0.616);
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.big{
    grid-column:span 2;
}

.wide{
    grid-column:span 2;
}

/* CATEGORIES */
.categories{
    padding:80px 0;
}

.categorie-card{
    background:rgba(200, 192, 245, 0.616);
    padding:30px;
    border-radius:20px;
    margin-bottom:20px;
    transition:0.3s;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.categorie-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}


/* TEMOIGNAGES */
.testimonials{
    background:rgba(200, 192, 245, 0.616);
    padding:80px 0;
}

.carousel-item{
    padding:30px;
    text-align:center;
}

.carousel-item img{
    border-radius:15px;
    margin-bottom:15px;
}

.carousel-item blockquote{
    font-style:italic;
}

/* CTA */
section.text-center{
    padding:80px 0;
}


@media (max-width: 768px){

    .hero{
        text-align: center;
    }

    .hero-img{
        width: 100%;
        margin-top: 20px;
    }

    .stats{
        flex-direction: column;
        gap: 10px;
    }

    .bento-grid{
        grid-template-columns: 1fr;
    }

    .categories{
        text-align: center;
    }

}

@media (max-width: 375px){

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }

    .hero button{
        width: 100%;
        margin-bottom: 10px;
    }

    .navbar-brand{
        font-size: 1.2rem;
    }

    article img{
        max-width: 100%;
        height: auto;
    }

}

CONTACT 

form{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

input,
select,
textarea{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

iframe{
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px){

    form{
        margin-bottom: 30px;
    }

}



@media (max-width: 375px){

    .form-control,
    .form-select{
        font-size: 14px;
    }

    form button{
        width: 100%;
    }

}