/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
 
:root{

    /* Couleurs principales */

    --primary: #2563eb;
    --primary-dark: #1d4ed8;
    --secondary: #0ea5e9;

    /* Dégradés */

    --gradient-blue:
    linear-gradient(
        135deg,
        #2563eb,
        #0ea5e9
    );

    /* Couleurs de fond */

    --bg-light: #f8fafc;
    --bg-card: #ffffff;
    --bg-dark: #0f172a;

    /* Textes */

    --text-dark: #0f172a;
    --text-light: #64748b;

    /* Ombres */

    --shadow:
    0 10px 30px rgba(37,99,235,.15);

    --shadow-hover:
    0 20px 50px rgba(37,99,235,.25);

    /* Bordures */

    --radius: 24px;
}

/* titres */
h1,
h2,
h3{
    color: var(--text-dark);
}

/* cartes */
.categorie-card,
.bento-card,
.testimonial-card{

    background: var(--bg-card);

    border-radius: var(--radius);

    box-shadow: var(--shadow);
}

/* boutons */
.btn-primary{
    background: var(--gradient-blue);
    border: none;
}

/* sous titres */
p{
    color: var(--text-light);
}

/* hover moderne */
.categorie-card:hover,
.bento-card:hover,
.testimonial-card:hover{

    transform: translateY(-10px);

    box-shadow: var(--shadow-hover);

}


.navbar{
    transition: all 0.3s ease;
}

.navbar.scrolled{
    background-color: #0754a0 !important; /* fond plus visible */
    box-shadow: 0 4px 10px rgba(154, 204, 16, 0.932); /* ombre */
    padding-top: 5px;
    padding-bottom: 5px; /* effet shrink */
}


   /* NAVBAR */


.navbar{
    padding: 18px 0;
    box-shadow: var(--shadow);
}
.logo-afritalent{
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;

    background: linear-gradient(
        90deg,
        #00c896,
        #0d6efd
    );
     background-clip : text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: 0.3s ease;
}

.logo-afritalent:hover{
    transform: scale(1.05);
    .logo-afritalent{
    font-size: 2.2rem;
    font-weight: 900;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    color: #00c896 !important;
    text-transform: uppercase;
}
}


   /* CARDS */
 

.categorie-card,
.box{
    background:var(--white);
    border-radius:var(--radius);
    padding:20px;
    box-shadow:var(--shadow);
    transition:var(--transition);
}

.categorie-card:hover,
.box:hover{
    transform:translateY(-8px);
}

/* 
   BOUTON RETOUR HAUT
 */

#backToTop{
    position:fixed;
    right:20px;
    bottom:20px;
    z-index:999;

    border-radius:50%;
    width:50px;
    height:50px;
}
body{
    font-family: 'Poppins', sans-serif;
}

.hero{
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.hero-content{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 50px;
    align-items: center;
}

.hero h1{
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero h2{
    font-size: 1.3rem;
    color: #64748b;
    margin-bottom: 30px;
}

.hero-buttons{
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.hero-image img{
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 25px 60px rgba(0,0,0,.15);
}

.stats{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.stat-card{
    background: white;
    padding: 20px;
    border-radius: 20px;
    min-width: 160px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.counter{
    font-size: 2rem;
    font-weight: 700;
    color: #2563eb;
}

/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1,h2,h3,h4{
    font-family:'Montserrat', sans-serif;
}


/* Effet hover moderne */

.categorie-card:hover{
    transform: translateY(-12px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    background: linear-gradient(135deg,#0dcaf0,#0d6efd);
    color: white;
}

.categorie-card:hover p{
    color: white;
}

.categorie-card:hover .icon{
    transform: scale(1.15);
}

.categorie-card .icon{
    transition: transform 0.3s ease;
}


.categorie-card{
    background:rgba(200, 192, 245, 0.616);
    padding:30px;
    border-radius:20px;
    margin-bottom:20px;
    transition:0.3s;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.categorie-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.testimonial-card{
    max-width: 700px;
    margin: auto;
    padding: 35px;
    border-radius: 24px;
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.testimonial-avatar{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid #0d6efd;
}

.role{
    color: #6c757d;
    margin-bottom: 10px;
}

.stars{
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.testimonial-card blockquote{
    font-size: 1.1rem;
    font-style: italic;
    color: #555;
}

.testimonial-card:hover{
    transform: translateY(-5px);
    transition: .3s ease;
}

/* fleche temoignage */
.carousel-control-prev,
.carousel-control-next{

    width: 60px;
    height: 60px;

    background: linear-gradient(
        135deg,
        #2563eb,
        #0ea5e9
    );

    border-radius: 50%;

    top: 50%;

    transform: translateY(-50%);

    opacity: 1;

    box-shadow: 0 8px 20px rgba(37,99,235,.3);

    transition: all .3s ease;
}

.carousel-control-prev{
    left: -70px;
}

.carousel-control-next{
    right: -70px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover{

    transform: translateY(-50%) scale(1.1);

    box-shadow: 0 12px 25px rgba(37,99,235,.5);
}

.carousel-control-prev-icon,
.carousel-control-next-icon{

    filter: brightness(0) invert(1);

    width: 25px;
    height: 25px;
}


.cta-section{

    background:
        linear-gradient(
            rgba(15,23,42,.75),
            rgba(15,23,42,.75)
        ),
        url("../images/cta-bg.jpg");

    background-size: cover;
    background-position: center;

    border-radius: 30px;

    margin: 80px auto;

    overflow: hidden;
}

.cta-overlay{

    padding: 100px 30px;

    text-align: center;

    color: white;
}

.cta-overlay h2{

    font-size: 3rem;

    font-weight: 800;

    margin-bottom: 20px;
}

.cta-overlay p{

    max-width: 700px;

    margin: auto;

    margin-bottom: 30px;

    font-size: 1.1rem;

    color: rgba(255,255,255,.9);
}

.cta-overlay .btn{

    padding: 15px 35px;

    border-radius: 50px;

    font-weight: 700;

    transition: .3s ease;
}

.cta-overlay .btn:hover{

    transform: translateY(-5px);

    box-shadow: 0 10px 25px rgba(255,255,255,.3);
}

/* footer */
.footer{

    background: #0f172a;

    color: white;

    padding: 70px 0 20px;
}

.footer-logo{

    color: #0ea5e9;

    font-weight: 800;
}

.footer h5{

    margin-bottom: 20px;

    font-weight: 700;
}

.footer a{

    color: #cbd5e1;

    text-decoration: none;

    transition: .3s ease;
}

.footer a:hover{

    color: #0ea5e9;
}

.social-icons{

    display: flex;

    gap: 15px;

    margin-top: 20px;
}

.social-icons a{

    width: 45px;

    height: 45px;

    display: flex;

    align-items: center;

    justify-content: center;

    background: rgba(255,255,255,.1);

    border-radius: 50%;

    font-size: 1.2rem;
}

.social-icons a:hover{

    background: #2563eb;

    transform: translateY(-5px);
}




@media (max-width: 500px){
     body{
           background-color: var(--dark);
        } 
    .hero{
        text-align: center;
        
    }

    .hero-img{
        width: 100%;
        margin-top: 20px;
    }

    .stats{
        flex-direction: column;
        gap: 10px;
    }

    .bento-grid{
        grid-template-columns: 1fr;
    }

    .categories{
        text-align: center;
    }

}

@media (max-width: 375px){

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }

    .hero button{
        width: 100%;
        margin-bottom: 10px;
    }

    .navbar-brand{
        font-size: 1.2rem;
        height: 61vh;
    }

    article img{
        max-width: 100%;
        height: auto;
    }

}

/* CONTACT  */

form{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

input,
select,
textarea{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

iframe{
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px){

    form{
        margin-bottom: 30px;
    }

}


@media (max-width: 375px){

    .form-control,
    .form-select{
        font-size: 14px;
    }

    form button{
        width: 100%;
    }

}

  /* NAVBAR DYNAMIQUE */

.navbar{
    transition: all 0.3s ease;
    background: transparent;
    padding: 20px 0;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    position: center;
    
}



.navbar.scrolled{
    
    background: rgb(70, 89, 255);
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand{
    color: #0d6efd !important;
    color:#ecd714fa
}
    
    /* background: white;
    padding: 10px 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); */

    /* background: rgba(0,0,0,0.95) !important;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    padding-top: 5px;
     padding-bottom: 5px;   */

 /* DARK MODE */

body.dark-mode{
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar{
    background-color: #1e1e1e !important;
}

body.dark-mode .box,
body.dark-mode .categorie-card,
body.dark-mode .carousel-item,
body.dark-mode footer{
    background-color: #222;
    color: #ffffff;
}
.fade-section{
    opacity: 1;
    transform: translateY(50px);
    transition: opacity 0.8s ease,
     transform 0.8s ease;
}

.fade-section.show{
    opacity: 1;
    transform: translateY(0);
}


/*  ABOUT PAGE MODERNE  */

.about-history{
    text-align: center;
    padding: 80px 0;
    background: linear-gradient(135deg,#eff6ff,#dbeafe);
    border-radius: 25px;
    margin-top: 30px;
}

.about-history h1{
    color: #2563eb;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.about-history img{
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(37,99,235,.2);
    margin: 25px 0;
}

.about-history p{
    color: #334155;
    font-size: 1.1rem;
    line-height: 1.8;
}

/* TITRES */

.team h2,
.values h2,
.key-stats h2{
    color: #2563eb;
    font-weight: 800;
    margin-bottom: 40px;
}

/* CARTES */

.team article,
.values article,
.key-stats article{
    background: white;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    transition: .3s ease;
}

.team article:hover,
.values article:hover,
.key-stats article:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(37,99,235,.2);
}

/* PHOTOS ÉQUIPE */

.team img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #60a5fa;
    margin-bottom: 15px;
}

/* RÉSEAUX SOCIAUX */

.social-links{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.social-links a{
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg,#2563eb,#0ea5e9);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s;
}

.social-links a:hover{
    transform: scale(1.1);
}

/* VALEURS */

.value-icon{
    font-size: 3.5rem;
    margin-bottom: 15px;
}

.values article h3{
    color: #2563eb;
    font-weight: 700;
}

/* CHIFFRES CLÉS */

.counter{
    font-size: 3rem;
    font-weight: 800;
    color: #2563eb;
}

.key-stats article p{
    color: #64748b;
    font-weight: 600;
}


/*PAGE FREELANCES  */

body{
    background: #f8fafc;
}

/* HERO */

main section:first-of-type{
    text-align: center;
    padding: 80px 20px;
    /* background: linear-gradient(135deg,#2563eb,#3b82f6); */
    color: white;
    border-radius: 0 0 30px 30px;
}

main section:first-of-type h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 15px;
}

main section:first-of-type p{
    font-size: 1.2rem;
    opacity: .9;
}

/* FILTRES */

main section:nth-of-type(2){
    text-align: center;
    padding: 40px 0;
}

main section:nth-of-type(2) button{
    border: none;
    background: white;
    /* color: #2563eb; */
    padding: 12px 22px;
    margin: 8px;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    transition: .3s;
}

main section:nth-of-type(2) button:hover{
    background: #2563eb;
    color: white;
    transform: translateY(-3px);
}

/* TITRE CATALOGUE */

 .container h2{
    color: #2563eb;
    font-weight: 800;
} 

/* CARTES FREELANCES */

.categorie-card{
    background: white;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    transition: .4s;
    margin-bottom: 30px;
    height: 100%;
    border: 1px solid #e2e8f0;
}

.categorie-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(37,99,235,.18);
}

/* PHOTOS */

.categorie-card img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #60a5fa;
    margin-bottom: 15px;
}

/* NOM */

.categorie-card h3{
    color: #1e3a8a;
    font-weight: 700;
}

/* MÉTIER */

.categorie-card p:nth-of-type(1){
    color: #2563eb;
    font-weight: 600;
}

/* BOUTON */

.categorie-card button{
    background: linear-gradient(135deg,#2563eb,#3b82f6);
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 10px;
    transition: .3s;
}

.categorie-card button:hover{
    transform: scale(1.05);
}

/* FOOTER */

footer{
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 50px;
}


/* HERO FREELANCES */

.freelance-hero{
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg,#2563eb,#60a5fa);
    color: white;
    border-radius: 0 0 30px 30px;
    margin-bottom: 50px;
}

.freelance-hero h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.freelance-hero p{
    font-size: 1.2rem;
    max-width: 700px;
    margin: auto;
    opacity: .95;
}

/* FILTRES */

.freelance-filter{
    text-align: center;
    margin-bottom: 60px;
}

.freelance-filter h2{
    color: #2563eb;
    font-weight: 800;
    margin-bottom: 25px;
}

.freelance-filter button{
    background: white;
    border: 2px solid #2563eb;
    color: #2563eb;
    padding: 12px 22px;
    border-radius: 50px;
    margin: 8px;
    font-weight: 600;
    transition: .3s;
}

.freelance-filter button:hover{
    background: #2563eb;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(37,99,235,.25);
}


   /* PAGE TARIFS */

/* HERO */

.pricing-hero{
    text-align: center;
    padding: 90px 20px;
    background: linear-gradient(135deg,#2563eb,#60a5fa);
    color: white;
    border-radius: 0 0 30px 30px;
    margin-bottom: 60px;
}

.pricing-hero h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.pricing-hero p{
    font-size: 1.2rem;
    max-width: 700px;
    margin: auto;
}

/* CARTES TARIFS */

.pricing-card{
    background: white;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    transition: .4s;
    margin-bottom: 30px;
    height: 100%;
    border: 2px solid transparent;
}

.pricing-card:hover{
    transform: translateY(-10px);
    border-color: #2563eb;
    box-shadow: 0 20px 40px rgba(37,99,235,.18);
}

.pricing-card img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}

.pricing-card h2{
    color: #2563eb;
    font-weight: 800;
}

.pricing-card p{
    margin-bottom: 10px;
}

.pricing-card button{
    background: linear-gradient(135deg,#2563eb,#3b82f6);
    color: rgb(84, 81, 240);
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 15px;
    transition: .3s;
}

.pricing-card button:hover{
    transform: scale(1.05);
}

/* METTRE EN AVANT LE PLAN PRO */

.pricing-card:nth-child(2){
    position: relative;
}

/* FAQ */

.pricing-faq{
    max-width: 900px;
    margin: 80px auto;
    padding: 0 20px;
}

.pricing-faq h2{
    text-align: center;
    color: #2563eb;
    font-weight: 800;
    margin-bottom: 40px;
}

.pricing-faq article{
    background: white;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,.08);
    transition: .3s;
}

.pricing-faq article:hover{
    transform: translateX(8px);
}

.pricing-faq h3{
    color: #1e3a8a;
    font-size: 1.1rem;
    font-weight: 700;
}

/* RESPONSIVE */

@media(max-width:768px){

    .pricing-hero h1{
        font-size: 2.2rem;
    }

}

.popular-plan{
    border: 3px solid #2563eb;
    transform: scale(1.05);
    position: relative;
}

.popular-badge{
    position: absolute;
    top: -15px;
    right: 20px;
    background: #2563eb;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 700;
}

/* suite contact css */

/* Hero contact */

.contact-page main section:first-child {
    background: linear-gradient(135deg, #0d6efd, #0dcaf0);
    color: rgb(45, 101, 255);
    text-align: center;
    padding: 60px 20px;
    border-radius: 0 0 20px 20px;
}

.contact-page main section:first-child h1 {
    font-size: 3rem;
    font-weight: bold;
}

/* Formulaire */

.contact-page form {
    background: #497aff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.contact-page .form-control,
.contact-page .form-select {
    margin-top: 5px;
}

.contact-page .btn-primary {
    width: 100%;
    padding: 12px;
    font-weight: bold;
}

/* Coordonnées */

.contact-page .col-lg-4 {
    background: #f4f5f53d;
    padding: 25px;
    border-radius: 15px;
}

/* Carte Google Maps */

.contact-page iframe {
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.bento-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 220px;
    gap: 20px;
}


/* pour comment ca marche */
.bento-card {
    background: #eef4ff;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.large {
    grid-column: span 2;
    grid-row: span 2;
}

.wide {
    grid-column: span 2;
}

.step-number {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #0d6efd;
}

.icon {
    font-size: 2rem;
    margin-bottom: 10px;
}

.bento-card h3 {
    margin-bottom: 10px;
}



footer p {
    animation: floatText 3s ease-in-out infinite;
}

@keyframes floatText {
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}