/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');


/* VARIABLES */
:root{
    --primary:#0d6efd;
    --secondary:#6610f2;
    --dark:#111827;
    --light:#f8f9fa;
    --white:#ffffff;
    --gray:#6b7280;

    --radius:12px;
    --spacing:20px;
}
/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Poppins', sans-serif;
    background:var(--light);
    color:var(--dark);
}
h1,h2,h3,h4{
    font-family:'Montserrat', sans-serif;
}
.navbar{
    background:var(--white);
    padding:15px 0;
}

.navbar-brand{
    font-size:28px;
    font-weight:bold;
    color:var(--primary);
}

.nav-link{
    color:var(--dark);
    margin-left:15px;
}